<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\4학년1학기\원도우프로그래밍\visualStudio2022\WpfApp29\WpfApp29\DataBase\CurrencyConverter.mdf; Integrated Security=True" providerName="sqlserver"/>
	</connectionStrings>
</configuration>